.page {
  width: 100%;
  height: 100vh;
  background-color: var(--backg-color);
}
.container {
  height: 100%;
  margin: 0 auto;
  max-width: var(--page-container);
  padding: 40px 0;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 120px;
}
.links {
  display: flex;
  gap: 40px;
}
.links a {
  color: var(--text-title);
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
}
.main_content {
  height: 90%;
  margin: 40px 0;
  display: flex;
  justify-content: space-between;
}
.descr {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 60px;
}
.bank_name {
  color: var(--main-color);
  font-size: 24px;
  font-weight: 500;
}
.title {
  color: var(--text-title);
  font-size: 55px;
  font-weight: 600;
  margin-bottom: 30px;
}
.text {
  color: var(--text-main);
  font-size: 20px;
  font-weight: 400;
  line-height: 140%;
  text-align: justify;
}
.buttons {
  display: flex;
  gap: 40px;
}
.poster {
  width: 45%;
  height: 90%;
}
.poster img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
